autograd==1.2
json-tricks==3.11.2
matplotlib==3.0.1
numpy==1.22.0
pandas==0.22.0
git+https://github.com/rgiordan/paragami@master#egg=paragami
git+https://github.com/rgiordan/vittles@master#egg=vittles
git+https://github.com/rgiordan/LinearResponseVariationalBayes.py@master#egg=LinearResponseVariationalBayes
patsy==0.5.0
scipy==1.0.1
sklearn==0.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
